// Button Variations
.btn-big{
	font-size: 15px;
	padding: 13px 40px;
}
.btn-normal{
	font-size: $font-size-micro;
	padding: 11px 35px;
}
.btn-transparent{
	background:transparent;
	color: $white !important;
}
.btn-round-long{
	border-radius: 13px;
	padding: 13px 60px;
}

// Button Color Variations
.btn-black{
	background: $main;
	color: $white !important;
	&:hover{
		background: darken($main, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-outline-white{
	background: transparent;
	color: $white !important;
	border: 1px solid $white;
	&:hover{
		border: 1px solid darken($white, 10%) !important;
		color: darken($white, 10%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-white{
	background: $white;
	color: $main !important;
	&:hover{
		background: darken($white, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}
.btn-main-red{
	background: $mainred;
	color: $white !important;
	box-shadow: $shadow-lighter;
	&:hover{
		background: darken($mainred, 5%) !important;
	}
	&:active{
		&:focus{
			outline: none;
		}
	}
	&:focus{
		outline: none;
	}
}