// color Styling
$main				: #0e5381;
$black				: #000000;
$grey-heading		: #333333;
$grey				: #737373;
$light-grey			: #d5d5d5;
$tosca				: #2abb9b;
$red-brick			: #d64541;
$white				: #ffffff;
$red				: #d91d18;
$mainred			: #eb1436;
$bgrgrey			: #f6f6f6;