$border-light:           1px solid $light-grey;
$border-normal:          1px solid $grey;
$border-dark:            1px solid $grey-heading;

$shadow-lighter:         0 1px 15px 1px rgba(165, 165, 165, .15);
$shadow-normal:         0 10px 35px 10px rgba(165, 165, 165, .15);
$shadow-darker:          0 2px 3px 1px rgba($black, .3);

$text-shadow-lighter:	 2px 2px 4px rgba(0, 0, 0, 0.3);
$text-shadow-normal:	 3px 3px 4px rgba(0, 0, 0, 0.5);
$text-shadow-darker:	 4px 4px 6px rgba(0, 0, 0, 0.8);

.bgr-grey{
	background: $bgrgrey;
}
.bgr-white{
	background: $white;
}
.red-dot{
	content: '';
	letter-spacing: -1px;
	width: 12px;
	height: 12px;
	background: $red;
	border-radius: 100%;
	display: inline-block;
}

// link style
.link-red{
	color: $red;
	letter-spacing: 2px;
	&:hover{
		color: darken($red, 10%);
		.icon-bold{
			background: darken($red, 10%);
		}
	}
}



// icon style
.icon-bold{
	background: $red;
	padding: 1px 8px;
	border-radius: 100%;
	color: #fff;
	font-size: 1.1rem;
	margin-left: 10px;
	&:hover{
		background: darken($red, 10%);
	}
}

// block padding
.block-left{
	padding-right: 10px;
}
.block-right{
	padding-left: 10px;
}