.dewanonton-footer{
	background: #333333;
	padding: 3rem 0;
	.dewanonton-footer--logo{

	}
	.dewanonton-footer--menu{
		.dewanonton-footer--menu-wrapper{
			.menu-title{
				color: #eb1436;
				font-weight: 700;
				font-size: $font-size-small;
				margin-bottom: 0;
			}
			ul{
				li{
					margin-bottom: 3px;
					a{
						color: $white;
						font-weight: 700;
						font-size: $font-size-small;
						&:hover{
							color: darken($white, 10%);
						}
					}
				}
			}
		}
	}
	.dewanonton-footer--social{
		.dewanonton-footer--social-icon{
			margin-bottom: 30px;
			li{
				display: inline-block;
				margin-right: 10px;
				a{
					background: #fff;
					border-radius: 100%;
					padding: 12px 11px 9px;
					vertical-align: middle;
					&:hover{
						background: darken(#fff, 10%);
						i{
							color: #333;
						}
					}
					i{
						font-size: 1.2rem;
						vertical-align: middle;
					}
				}
			}
		}
		.dewanonton-footer--social-copyright{
			color: #fff;
			font-size: $font-size-small;
		}
	}
}
@media(max-width: 767px){
	.dewanonton-footer{
		.dewanonton-footer--menu{
			padding-top: 1rem;
			padding-bottom: 2rem;
		}
	}
}