html, body{
	width: 100%;
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

a{
	color: inherit;
	&:hover, &:focus{
		text-decoration: none;
	}
}

input, textarea{
	box-shadow: none !important;
	&:focus{
		box-shadow: none !important;
	}
}

.dropdown-toggle::after {
    display: none;
}