// navbar-dewanonton-v1
.navbar-dewanonton-v1{
	background: $grey-heading !important;
	&.navbar-transparant{
		background: none !important;
		z-index: 1;
		box-shadow: none !important;
	}
	@media(max-width: 767px){
		&.navbar-transparant{
			background: $grey-heading !important;
		}	
	}
	.navbar-brand{
		padding-top: .5rem;
		padding-bottom: .5rem;
		img{
			height: 30px;
		}
	}
	@media(max-width: 767px){
		.navbar-toggler{
			border: 0;
			outline: 0;
		}
		.navbar-collapse{
			.navbar-menu--right{
				.nav-dewanonton--search{
					width: 100%;
					.input-group{
						margin-right: 0;
						width: 100%;
					}
				}
			}
			.nav-dewanonton--list{
				.nav-item{
					.nav-link{
						padding-top: 10px;
						padding-bottom: 10px;
						border-bottom: 1px solid #484848;
						i{
							float: right;
							padding-top: 7px;
						}
					}
					&:last-child{
						.nav-link{
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
	.nav-dewanonton--list{
		li.nav-item{
			a.nav-link{
				font-size: $font-size-normal;
				padding: 0 1.5rem;
				color: $white;
				i{
					padding-left: .5rem;
					color: $white;
					font-size: $font-size-micro;
				}
			}
			&.active{

			}
		}
	}
	.navbar-menu--right{
		a.nav-link{
			font-size: $font-size-xnormal;
			color: $grey-heading;
			i{
				font-size: $font-size-xnormal;
				padding: 0;
				color: $grey-heading;	
			}
		}
	}
	// navbar search
	.nav-dewanonton--search{
		.input-group{
			-webkit-border-radius: 10em;
			-moz-border-radius: 10em;
			border-radius: 10em;
			background: #191919;
			padding-left: 15px;
			margin-bottom: 0 !important;
			width: 190px;
			margin-right: 50px;

			input[type=search] {
				background: #191919;
				color: $white;
				cursor: pointer;
				border: 0;
				-webkit-transition: all .5s;
				-moz-transition: all .5s;
				transition: all .5s;
			}
		}
		@media(min-width: 768px )and (max-width: 991px){
			.input-group{
				margin-right: 10px;
			}
		}
		.input-group-append{
			.btn-search{
				background: #111111;
				color: #fff;
				border-radius: 100%;
				i{
					font-size: .8rem;
				}
			}
		}
	}
}

input {
	outline: none;
}

