.dewanonton-homepage{
	.dewanonton-main{
		.dewanonton-section--home-hero{
			.dewanonton-section--hero-top{
				.dewanonton-section--hero-top-wrapper{
					img{
						height: 480px;
					}
					.dewanonton-menu--play-btn{
						position: absolute;
						top: 38%;
						left: 48%;
					}
				}
			}
		}
	}
}
@media(max-width: 767px){
	.dewanonton-homepage{
		.dewanonton-main{
			.dewanonton-section--home-hero{
				.dewanonton-section--hero-top{
					.dewanonton-section--hero-top-wrapper{
						img{
							height: 360px;
						}
						.dewanonton-menu--play-btn{
							left: 40%;
						}
					}
				}
			}
			.dewanonton-menu--tab-wrapper{
				max-width: 100%;
				.dewanonton-menu--tab{
					width: 100vw;
					.dewanonton-menu--tab-nav{
						.nav-item{
							padding: 0 5px;
							.nav-link{
								font-size: .4rem !important;
							}
						}
					}
				}
			}
		}
	}
}
// category css
.dewanonton-category{
	.dewanonton-main{
		.dewanonton-section--hero-category{
			.dewanonton-section--hero-top{
				.dewanonton-section--hero-top-wrapper{
					img{
						height: 280px;
						filter: blur(50px);
					}
					.dewanonton-menu--category-title{
						position: absolute;
						top: 25%;
						left: 0;
						right: 0;
						.category--subtitle{
							color: #fff;
						}
						.category--title{
							width: fit-content;
							margin: 0 auto;
							color: #fff;
							font-size: 2rem;
							font-weight: 300;
							padding: 10px 60px;
						}
					}
				}
			}
		}
	}
}
.red-pills{
	background: #eb1436;
	border-radius: 40px;
}
.dewanonton-main{
	background: #f6f6f6;
	&.dewanonton-main--transparant{
		margin-top: -62px;
	}
}
.dewanonton-section{
	padding: 3rem 0;
	.section-header{

	}
	.section-link{
		padding-top: 15px;
		.link-red{
			font-size: $font-size-small;
		}
	}
}
.dewanonton-section--hero{
	background: #000;
	.dewanonton-section--hero-top{
		position: relative;
		.dewanonton-section--hero-top-wrapper{
			padding-left: 0;
			padding-right: 0;
		}
		.black-cover{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.4);
			background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.4)), color-stop(100%, rgba(0,0,0,1)));
			background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
			background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
			background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%, rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
		}
		img{
			height: 360px;
			width: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}
}
.top-quality{
	background: #eb1436;
	color: #fff;
	font-size: 10.5px;
	font-weight: 700;
	padding: 2px 15px;
	position: absolute;
	top: 5px;
	left: 5px;
	border-radius: 10px;
	z-index: 111;
}
.black-cover-img{
	background: rgba(0,0,0,.3);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.dewanonton-menu--info{
	position: absolute;
	bottom: 25%;
	.menu-info--img{
		display: table-cell;
		vertical-align: top;
		width: 20%;
		position: relative;
		img{
			width: 100%;
			height: 220px;
			object-fit: cover;
			object-position: top center;
		}
	}
	.menu-info--content{
		display: table-cell;
		vertical-align: top;
		padding: 15px 25px 0;
		h2{
			font-weight: 600;
			color: #fff;
			font-size: 35px;
			line-height: normal;
		}
		.menu-info--content-year{
			.info-year{
				display: inline-block;
				font-size: 22px;
				color: #a6a6a6;
				margin-bottom: 10px;
				line-height: normal;
				vertical-align: top;
			}
			.info-minutes{
				display: inline-block;
				margin-top: 2px;
				margin-left: 12px;
				margin-bottom: 10px;
				line-height: normal;
				background: #5c5b59;
				color: #fff;
				padding: 4px 10px;
				font-size: 10.5px;
				border-radius: 30px;
				vertical-align: top;
				i{
					color: #fff;
					font-size: 10.5px;
					margin-right: 3px;
				}
			}
		}
		.menu-info--content-imdb{
			p{
				color: #fff;
				font-size: 18px;
				margin-bottom: 5px;
				line-height: normal;
				span{
					&.imdb-score{
						font-weight: 700;
						color: #e7e400;
					}
					&.imdb-from{
						color: #a6a6a6;
					}
				}
			}
		}
		.menu-info--content-label{
			.label-tag{
				display: inline-block;
				margin-right: 5px;
				background: #1f1f1f;
				color: #fff;
				padding: 4px 15px;
				font-size: 10.5px;
				border-radius: 30px;
				&:hover{
					background: darken(#1f1f1f, 10%);
				}
			}
		}
	}
}
@media(max-width: 767px){
	.dewanonton-menu--info{
		position: absolute;
		bottom: 10%;
		.menu-info--img{
			margin: 0 auto;
			text-align: center;
			display: block;
			width: 100px;
			height: 100%;
			max-height: 160px;
			position: relative;
			img{
				width: 100px;
				height: 100%;
				object-fit: cover;
				object-position: top center;
			}
		}
		.menu-info--content{
			display: block;
			h2{
				font-size: 1.3rem;
			}
			.menu-info--content-year{
				.info-year{
					font-size: 1.3rem;
				}
				.info-minutes{
					font-size: .7rem;
					i{
						font-size: .7rem;
					}
				}
			}
			.menu-info--content-imdb{
				p{
					font-size: .8rem;
				}
			}
			.menu-info--content-label{
				.label-tag{
					font-size: .7rem;
				}
			}
		}
	}
}
.dewanonton-menu--tab-wrapper{
	margin-bottom: -3rem;
	.dewanonton-menu--tab{
		position: relative;
		background: #fff;
		border-radius: 8px;
		box-shadow: $shadow-lighter;
		&.menu-5{
			.dewanonton-menu--tab-nav{
				padding: 0 10px;
				.nav-item{
					width: 20%;
				}
			}
		}
		.dewanonton-menu--tab-nav{
			padding: 0 15px;
			.nav-item{
				width: 25%;
				padding: 0 10px;
				text-align: center;
				.nav-link{
					border-radius: 0;
					padding-top: 25px;
					padding-bottom: 20px;
					font-weight: 800;
					color: #555555;
					font-size: 1rem;
					&.active{
						background: #fff;
						border-bottom: 5px solid #ef435e;
						color: #eb1436;
					}
				}
				&:hover{
					.nav-link{
						border-bottom: 5px solid darken($white, 5%);
						background: darken($white, 5%);
						&.active{
							background: #fff;
							border-bottom: 5px solid darken(#ef435e, 10%);
							color: darken(#ef435e, 10%);
						}
					}
				}
			}
		}
	}
}
@media(max-width: 767px){
	.dewanonton-menu--tab-wrapper{
		margin-bottom: -5rem;
		.dewanonton-menu--tab{
			border-radius: 0;
			.dewanonton-menu--tab-nav{
				padding-left: 0;
				padding-right: 0;
				.nav-item{
					.nav-link{
						padding-right: 0;
						padding-left: 0;
						font-size: .65rem !important;
						height: 75px;
						vertical-align: middle;
					}
				}
			}
		}
	}
}

.dewanonton-section--list-category{
	.dewanonton-section--list-category--wrapper{
		.category--link{
			.category--link-btn{
				color: #555555;
				font-size: .9rem;
				font-weight: 700;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}

.movie-play-btn{
	.play-btn-icon{
		color: #eb1436;
		font-size: 4rem;
		position: relative;
		&:hover{
			color: darken(#eb1436,10%);
		}
		&:before{
			height: 25px;
			background: #fff;
			border-radius: 100%;
			line-height: 25px;
			width: 38px;
		}
		.outline-fill{
			position: absolute;
			top: 1px;
			left: -6px;
			right: 0;
			bottom: 0;
			width: 64px;
			height: 64px;
			border: 6px solid;
			border-color: rgba(#ea1536, .3);
			z-index: -1;
			border-radius: 100%;
			background: #fff;
		}
	}
	&.icon-big{
		.play-btn-icon{
			font-size: 5rem;
			&:before{
				height: 40px;
				background: #fff;
				border-radius: 100%;
				line-height: 40px;
				width: 50px;
			}
		}
	}
	&.icon-sm{
		.play-btn-icon{
			font-size: 3rem;
			&:hover{
				color: darken(#eb1436,10%);
			}
			&:before{
				height: 25px;
				background: #fff;
				border-radius: 100%;
				line-height: 25px;
				width: 38px;
			}
			.outline-fill{
				position: absolute;
				top: 0px;
				left: -6px;
				right: 0;
				bottom: 0;
				width: 50px;
				height: 50px;
				border: 6px solid;
				border-color: rgba(#ea1536, .3);
				z-index: -1;
				border-radius: 100%;
				background: #fff;
			}
		}
	}
}
.section-title{
	color: #333333;
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 0;
}
.section-subtitle{
	color: #666666;
	font-size: 16px;
	font-weight: 400;
}
.section-sub--title{
	color: #333333;
	font-size: 60px;
	font-weight: 700;
	margin-bottom: 5px;
}
.section-sub--subtitle{
	color: #666666;
	font-size: 20px;
	font-weight: 400;
}
.slider-arrow{
	float: right;
	border-radius: 10px;
	margin-top: 25px;
	box-shadow: $shadow-lighter;
	.slick-prev{
		background: #eb1436;
		margin-right: -2px;
		padding: 4px 18px 2px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		&:hover{
			background: darken(#eb1436, 5%);
			cursor: pointer;
		}
		i{
			color: #fff;
		}
	}
	.slick-next{
		background: #e50024;
		margin-left: -2px;
		padding: 4px 18px 2px;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		&:hover{
			background: darken(#e50024, 5%);
			cursor: pointer;
		}
		i{
			color: #fff;
		}
	}
}

.main-tab-content{
	padding-top: 3rem;
}
@media(max-width: 767px){
	.main-tab-content{
		padding-top: 2rem;
	}
}
.dewanonton-section--video{
	margin-top: 3rem;
	margin-bottom: 2.5rem;
	.dewanonton-section--video--main{
		.video-description--wrapper{
			background: #000;
			.video-description--action{
				min-height: 480px;
				text-align: center;
				.video-play{
					position: absolute;
					width: 100%;
					top: 35%;
					left: 0;
				}
			}
		}
	}
	.dewanonton-section--video--server{
		height: 50px;
		background: #fff;
		box-shadow: $shadow-lighter;
		.video-description--server{
			padding-left: 0;
			padding-right: 0;
			.server--list-wrapper{
				.server--list{
					display: inline-block;
					height: 50px;
					padding-top: 13px;
					a{
						padding-left: 50px;
						padding-right: 50px;
						color: #333333;
						font-weight: 600;
					}
					&.active{
						border-bottom: 4px solid #ef435e;
						a{
							color: #eb1436;
						}
					}
					&:hover{
						background: darken($white, 3%);
						a{
							color: #eb1436;
						}
					}
				}
			}
		}
		.video-description--report{
			text-align: right;
			.btn-report{
				color: #a1a1a1;
				padding-top: 13px;
				font-size: 16px;
				&:hover{
					text-decoration: none;
					color: #333;
				}
			}
		}
	}
}
@media(max-width: 767px){
	.dewanonton-section--video{
		.dewanonton-section--video--server{
			.video-description--server{
				padding-left: 0;
				padding-right: 0;
				.server--list-wrapper{
					.server--list{
						a{
							padding-left: 15px;
							padding-right: 15px;
							font-size: .75rem;
						}
					}
				}
			}
			.video-description--report{
				.btn-report{
					font-size: .75rem;
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
}
.btn-share{
	color: #fff;
	width: 120px;
	border-radius: 20px;
	text-decoration: none;
	&.facebook{
		background: #3a549f;
		&:hover{
			background: darken(#3a549f, 5%);
			text-decoration: none;
			color: #fff;
		}
	}
	&.twitter{
		background: #06a8f4;
		&:hover{
			background: darken(#06a8f4, 5%);
			text-decoration: none;
			color: #fff;
		}
	}
	&.pinterest{
		background: #c8242d;
		&:hover{
			background: darken(#c8242d, 5%);
			text-decoration: none;
			color: #fff;
		}
	}
	i{
		vertical-align: middle;
		margin-right: 10px;
	}
	span{
		vertical-align: middle;
		font-size: 14px;
	}
}
.dewanonton-section--synopsis{
	padding-bottom: 5rem;
	.dewanonton-section--synopsis-head{
		.dewanonton-section--synopsis-head--top{
			padding: 0;
			.synopsis--title{
				background: #fff;
				height: 100%;
				width: max-content;
				padding: 10px 50px;
				p{
					margin-bottom: 0;
					color: #555555;
					font-weight: 600;
				}
			}
		}
		.dewanonton-section--synopsis-head--share{
			text-align: right;
			.share-btn{
				ul{
					li{
						display: inline-block;
					}
				}
			}
		}
	}
	.dewanonton-section--synopsis-text{
		background: #fff;
		padding: 30px 15px 15px;
		box-shadow: $shadow-lighter;
		p{
			color: #555555;
			font-size: 16px;
			font-weight: 400;
		}
	}
}
@media(max-width: 767px){
	.dewanonton-section--synopsis{
		padding-bottom: 3rem;
		.dewanonton-section--synopsis-head{
			.dewanonton-section--synopsis-head--top{
				order: 2;
			}
			.dewanonton-section--synopsis-head--share{
				text-align: center;
				margin-bottom: 1rem;
				.share-btn{
					ul{
						li{
							.btn-share{
								width: 90px;
								i{
									font-size: .75rem;
								}
								span{
									font-size: .75rem;
								}
							}
						}
					}
				}
			}
		}
		.dewanonton-section--synopsis-text{
			p{
				font-size: .8rem;
			}
		}
	}
}
.movie-list{
	padding: 15px;
	.movie-list--wrapper{
		position: relative;
		img{
			width: 100%;
			height: 220px;
			object-fit: cover;
			object-position: top center;
		}
		@media(min-width: 768px )and (max-width: 991px){
			img{
				height: 270px;
			}
		}
		.movie-list--detail{
			background: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: 40px;
			.movie-play-btn{
				opacity: 0;
			}
			.movie-list--detail-text{
				display: none;
				text-align: center;
				padding: 0 20px;
				h3{
					color: #FFF;
					font-weight: 700;
					font-size: 14px;
					line-height: normal;
				}
				p{
					color: #FFF;
					font-size: 12px;
					font-weight: 300;
				}
			}

		}
		@media(min-width: 768px )and (max-width: 991px){
			.movie-list--detail{
				padding-top: 60px;
				.movie-play-btn{
					opacity: 1;
				}
				.movie-list--detail-text{
					display: block;
					h3{
						font-size: 1.1rem;
					}
					p{
						font-size: .9rem;
					}
				}
			}
		}
		&:hover{
			.hover-gradient{
				background: linear-gradient(to bottom, #7d0061, #950057, #aa0048, #b90036, #c2001f);
				opacity: .9;
			}
			.movie-list--detail{
				.movie-play-btn{
					opacity: 1;
					display: block;
				}
				.movie-list--detail-text{
					display: block;
				}
			}
		}
	}
}
@media(max-width: 767px){
	.movie-list{
		padding: 15px 3px !important;
		.movie-list--wrapper{
			position: relative;
			img{
				object-position: center;
			}
			.movie-list--detail{
				padding-top: 60px;
				.movie-play-btn{
					opacity: 1 !important;
				}
				.movie-list--detail-text{
					display: block !important;
					h3{
						font-size: 1.1rem;
					}
					p{
						font-size: .9rem;
					}
				}
			}
		}
	}
}
.dewanonton-section--related{
	padding-bottom: 5rem;
}
@media(max-width: 767px){
	.dewanonton-section--related{
		padding-bottom: 3rem;
	}
}

.dewanonton-section--action{
	.dewanonton-section--action-left-side{
		padding-top: 6rem;
	}
	.dewanonton-section--action-right-side{
		.slider-action--movies{
			.movie-list{
				.movie-list--wrapper{
					img{
						height: 300px;
						object-position: center;
					}
					.movie-list--detail{
						padding-top: 40px;
						.movie-list--detail-text{
							h3{
								font-size: 1.2rem;
							}	
							p{
								font-size: .9rem;
							}
						}
					}
				}
			}
		}
	}

}


.dewaDots {
	display: flex;
	justify-content: center;
	
	margin: 0;
	padding: 1.2rem 0;
	
	list-style-type: none;
	
	li {
		margin: 0 0.4rem;
	}
	
	button {
		display: block;
		width: .8rem;
		height: .8rem;
		padding: 0;

		border: none;
		border-radius: 100%;
		background-color: #f7a1af;

		text-indent: -9999px;
	}
	
	li.slick-active button {
		background-color: #eb1436;
	}
	
}